
#Section1{
    position: fixed;
    background-color: blueviolet;
    width: 200px;
    height: 100%;
}
#Section2{
    background-color: blue;
    position: fixed;
    height: 100%;
    width: 50%;
    left: 13%;
}
#Section3{
    background-color: crimson;
    position: fixed;
    height: 100%;
    width: 50%;
    right: 0;
}