
#Section1{
    position: fixed;
    width: 200px;
    height: 100%;
    overflow-y: scroll;
}
#Section2{
    position: fixed;
    height: 100%;
    width: 50%;
    left: 13%;
}
#Section3{
    background-color: crimson;
    position: fixed;
    height: 100%;
    width: 50%;
    right: 0;
}
.imagen{
    margin: auto;
    display: block;
    padding: 20px;
}